<header class="flexbox-space-between">
    <div class="leftHeader flexbox-start">
        <app-table-button [buttonName]="savedList" [iconName]="savedListIcon"></app-table-button>
        <app-table-button [buttonName]="savedFilters" [iconName]="savedFiltersIcon"></app-table-button>
        <app-table-button [buttonName]="savedHistory" [iconName]="savedHistoryIcon"></app-table-button>
    </div>
    <div class="rightHeader flex-end">
        <app-search-box [ngStyle]="{'width': '70%'}" (searchcriteria)="searchThis($event)"></app-search-box>
    </div>
</header>
<section>
    <div class="leftSection">
        <table>
            <tr class="stickyTop">
                <th width="10%">Date</th>
                <th width="43%">ListName</th>
                <th width="14%">No. of Entities</th>
                <th width="32%">Actions</th>
            </tr>
            <ng-container *ngIf="(items | filter:searchText).length > 0; else noResults">
                <tr *ngFor="let item of items |filter: searchText;let i=index" (click)="showDescription($event,item,i)" [ngClass]="{'active': selectedItem == item}">

                    <ng-container *ngIf="item.date !=null; else noDate">
                        <td class="grey-regular-text text-center">{{item.date | date:"MMM dd" }}</td>
                    </ng-container>
                    <ng-template #noDate>
                        <td class=" text-center">
                            <img src="../assets/privateCircleLogo.png" width="16px" height="16px">
                        </td>
                    </ng-template>

                    <td class="black-bold-text" [ngClass]="{'blueBoldText': item.details.length == 0 }">{{item.listName}}</td>
                    <td class="black-regular-text">{{item.details.length}}</td>
                    <td class="flexbox-space-between" style="height: 60px;display: flex;align-items: center;">
                        <div class="icons">
                            <i class="fa fa-envelope"></i>
                            <i class="fa fa-share-alt" *ngIf="item.details.length > 0"></i>
                            <i class="fa fa-i-cursor" *ngIf="item.details.length > 0"></i>
                            <i class="fa fa-trash" *ngIf="item.details.length > 0"></i>
                        </div>
                        <div class="detailButton">
                            Details
                        </div>
                    </td>
                </tr>
            </ng-container>

            <ng-template #noResults>
                <tr>
                    <td colspan="4">
                        <p class="black-bold-text">No Results Found</p>
                    </td>
                </tr>

            </ng-template>
        </table>

    </div>
    <div class="rigthSection">
        <div class="greyWrapper">
            <p>No description yet</p>
            <p class="blueText">+ Add Description</p>
        </div>
        <ng-container *ngIf="selectedItem != null">
            <p class="lightBlueText" *ngFor="let detail of items[currIndex].details">
                {{detail.companyName}}
            </p>
        </ng-container>
    </div>
</section>
<router-outlet></router-outlet>