.buttonWrap {
    width: auto;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    box-sizing: border-box;
    color: black;
    float: left;
    border-radius: 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
}

.buttonWrap img {
    width: 25px;
    height: 25px;
    margin-left: 15px;
}

.buttonWrap p {
    letter-spacing: 1.2px;
    font-size: 12px;
    margin-left: 15px;
}

.buttonActive {
    background: rgb(4, 4, 82);
    color: #ffffff;
}