body {
    margin: 0;
    padding: 0;
    font-family: "Poppins-Regular";
    height: 100%;
}
/* Global */
/** Font- Face - Start **/

@font-face {
    font-family: 'Poppins-Black';
    src: url('./assets/Poppins/Poppins-Black.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('./assets/Poppins/Poppins-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('./assets/Poppins/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url('./assets/Poppins/Poppins-BoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('./assets/Poppins/Poppins-ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url('./assets/Poppins/Poppins-ExtraBoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('./assets/Poppins/Poppins-ExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-ExtraLightItalic';
    src: url('./assets/Poppins/Poppins-ExtraLightItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url('./assets/Poppins/Poppins-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('./assets/Poppins/Poppins-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('./assets/Poppins/Poppins-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-MediumItalic';
    src: url('./assets/Poppins/Poppins-MediumItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('./assets/Poppins/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url('./assets/Poppins/Poppins-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-ThinItalic';
    src: url('./assets/Poppins/Poppins-ThinItalic.ttf');
    font-weight: normal;
    font-style: normal;
}


.flexbox-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexbox-space-between{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.flex-start{
    display: flex;
    align-items: flex-start;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
